<h2>Make a new entry</h2>
<%= form_for @countdown do |f| %>
<h3><%= f.label "Today's Date: " %><% Date.today %></h3><br>
<h3><%= f.label "Calories Burned" %></h3><br>

<%= f.collection_check_boxes :ex_cal_ids, ExCal.all, :id, :calories_burned %><br>


      <%= f.fields_for :ex_cals, @countdown.ex_cals.build do |ex_cal_fields|%><br>
            <%= ex_cal_fields.text_field :calories_burned %><br><br>
<%# <h3><%= f.fields_for @ex_cal do  %></h3>
<%# <h3><%= f.calories_burned %>

<% end %>
<h3><%= f.submit "Submit" %></h3>
<% end %>

