<h1>Exercise Calorie Countdown</h1>

<%# <%= @total_calories_left %><br><br> %>

<%# <%= @total_calories_burned %><br><br> %>

<%# <%= @total_days_left %> %>

<%# <%= @total_calories_per_day_burned %>

<%# <%= @total_calories_per_day_left %>


<h3>All entries</h3>
<% @ex_cals.each do |ec| %>
    <ol>
        <li><%= ec.created_at %> - <%= ec.calories_burned %> - <%= ec.notes %></li><br><br><br>
    </ol>
<% end %>
