<h1>Exercise Calorie Countdown</h1>

<%# <%= @total_calories_left %><br><br> %>

<%# <%= @total_calories_burned %><br><br> %>

<%# <%= @total_days_left %> %>

<%# <%= @total_calories_per_day_burned %>

<%# <%= @total_calories_per_day_left %>



