<h1>Exercise Calorie Countdown</h1>

<p>Total Calories Left: <%= @total_calories_left %></p><br><br>

<p>Total Calories Burned: <%= @total_calories_burned %></p><br>

<p>Total Days Left: <%= @total_days_left %></p><br>

<%# <%= @total_calories_per_day_burned %>

<%# <%= @total_calories_per_day_left %>

<h3><%= link_to "New Daily Entry for Today", new_ex_cal_path %></h3>




<h3>All entries</h3>
<% @ex_cals.each do |ec| %>
    <ol>
        <li><%= ec.created_at %> - <%= ec.calories_burned %> - <%= ec.notes %></li><br><br><br>
    </ol>
<% end %>
