<h2>Make an entry</h2>

<%= form_for @ex_cal do |f| %>
<%= f.collection_select :itself, ExCal.all.sort { |x,y| y <=> x }, :id, :calories_burned %>
<%= f.label "Calories Burned" %><br><br>
<%= f.text_field :calories_burned %><br><br>
<%= f.label "Notes" %><br><br>
<%= f.text_area :notes %><br><br>
<%= f.submit "Submit" %>
<% end %><br>

<a href="https://docs.google.com/spreadsheets/d/1eAkTu1JQ8Zvv-ksYif3j1sRZlyrJxaRq1LRr6x5Kepk/edit?usp=sharing">Calorie Key</a></a>