<h2>New entry</h2>


Date: <%= @ex_cal.created_at%><br><br>

Calories Burned: <%= @ex_cal.calories_burned %><br><br>

Notes: <%= @ex_cal.notes %><br><br>

<h4><%= link_to "New Entry ", ex_cals_path %></h4>

<h4><%= link_to "Home", root_path %></h4>