<h2>New entry</h2>


Date: <%= @ex_cal.created_at%><br><br>

Calories Burned: <%= @ex_cal.calories_burned %><br><br>

Notes: <%= @ex_cal.notes %>

<h3><%= link_to "New Daily Entry for Today", ex_cals_path %></h3>

<h3><%= link_to "Home", root_path %></h3>